@model Issues.Models.Issue

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Assignee
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedTo.UserName)
        </dd>

        <dt>
            Created By
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

Content: <input type="text" id="text" /> <input type="submit" value="Comment" class="btn btn-default" id="add-comment" data-id="@Model.Id" />

@section scripts {
    <script>

        $('#add-comment').click(function () {
            var id = $(this).data('id');
            var content = $('#text').val();

            $.post('/Comments/Comment', { id: id, content: content }, function (data) {
                var commentDiv = $('<div class="comment">')
                    .append($('<div class="comment-text">').text(data['Content']))
                    .append($('<div class="comment-author">').text('created by: ' + data['User']));

                $('#comments')
                    .append(commentDiv);
            });
        });
    </script>
}

<div id="comments">
    <h4>Comments</h4>

    @foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <div class="comment-text">@comment.Content</div>
            <div class="comment-author">created by: @comment.User.UserName</div>
        </div>
    }
</div>